# Created by .ignore support plugin (hsz.mobi)


# Package Files #
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore idea files
.idea
*.iml

# .gitignore for mac os x
.DS_Store
.AppleDouble
.LSOverride
Icon