<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/model_meta :: modelHeader('角色管理')"></head>
<body>
<div id="roleVm" v-cloak>
    <input type="hidden" id="baseUrl" th:value="${session.URL}"/>
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel " style="margin-bottom:0px; border: solid 1px #eee;">
            <div class="panel-heading"
                 style="font-weight: bold; background-color: #f5fafe; border-bottom: solid 1px #eee;">
                查询条件
                <span style="float:right;">
	            	<a class="qry-btn" onclick="roleObj.doSearch()">
						<span class="glyphicon glyphicon-search"></span>查询
	            	</a>
				</span>
            </div>
            <div class="search-header">
                <form id="formSearch" class="form-inline" role="form">
                    <div class="form-group">
                        <label class="form-label form-label-item" for="roleName">角色名称:</label>
                        <input type="text" ref="roleName" id="roleName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label form-label-item" for="status">角色状态:</label>
                        <select ref="status"  id="status" class="form-control form-control-select">
                            <option value="-1">全部</option>
                            <option value="0">未启用</option>
                            <option value="1" selected>启用</option>
                            <option value="2">锁定</option>
                            <option value="3">删除</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="table-responsive">
                <div id="toolbar">
                    <a href="javascript:void(0);" class="btn btn-primary" v-on:click="openNewWin()"><i
                            class="icon-plus icon-large"></i>新增</a>
                    <a href="javascript:void(0);" class="btn btn-warning" v-on:click="openUpdateWin()"><i
                            class="icon-pencil icon-large"></i>修改</a>
                    <a href="javascript:void(0);" class="btn btn-danger" v-on:click="deleteRow()"><i
                            class="icon-trash icon-large"></i>删除</a>
                </div>
                <table id="roleTable" class="table-striped table-hover" data-mobile-responsive="true">
                </table>
            </div>
        </div>

    </div>


    <!--addUser begin-->
    <div class="modal fade" id="addRoleDialog" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal add-form-rule" id="addRoleForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="roleModalLabel">新增用户</h4>
                    </div>
                    <div style="padding-right:1px;">
                        <div style="height:355px;">

                            <div class="modal-body" style="width: 100%; height:355px;">
                                <input placeholder="" v-model="roleId" id="roleId"
                                       value="" type="hidden">
                                <div class="form-group">
			          				<span class="col-sm-3 control-label">
										角色名称
			          				</span>
                                    <div class="col-sm-6">
                                        <input placeholder="" name="roleName" v-model="role.roleName" class="form-control"
                                               type="text">
                                    </div>
                                    <span class="col-sm-3" id="roleNameInfo"></span>
                                </div>
                                <div class="form-group">
			          				<span class="col-sm-3 control-label">
										角色备注
			          				</span>
                                    <div class="col-sm-6">
                                        <textarea placeholder="角色备注" id="roleDesc" v-model="role.roleDesc" class="form-control"
                                                  rows="4"></textarea>
                                    </div>
                                    <span class="col-sm-3" id="roleDescInfo"></span>
                                </div>
                                <div class="form-group">
			          				<span class="col-sm-3 control-label">
										状态
			          				</span>
                                    <div class="col-sm-6">
                                        <select v-model="role.status" id="n_status" class="form-control">
                                            <option v-for="option in statusOptions" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                    <span class="col-sm-3" id="statusInfo">

                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="submit-btn" class="btn btn-info btn-sm submit-btn"
                                onclick="roleObj.saveOrUpdate()">提交
                        </button>
                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!--addUser end-->
<div th:include="/common/model_onloadJS :: onloadJS"></div>
<script src="../../static/js/security/role.js" th:src="@{/js/security/role.js}"></script>
</body>
</html>