.clearfix {
}
.span5{
	width: 40%;
}
.row-fluid {
	width: 100%;
}
.row-fluid .span12{
	width: 100%;
}
form {
	margin: 0 0 18px;
}
.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}
#login_form{display: block;}

.login-field{
	margin:0 auto;
}
div.center, p.center, img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}
.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
	display: inline-block;
	margin-bottom: 0;
}
.input-prepend, .input-append {
	margin-bottom: 5px;
}
.row-fluid .span10 {
	width: 82.905982906%;
}
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
	float: none;
	margin-left: 0;
}
.login-box{

}
.login-box .input-prepend{
	margin-bottom: 10px;
}
.login-box .btn{
	margin-top:15px;
	width:100%
}
.div11{
	display: table-cell;vertical-align: middle;
}
.div22{
	margin: auto;
}
.remember {
	margin-top: 3px;
}
label {
	display: block;
	margin-bottom: 5px;
}
label, input, button, select, textarea {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}
div.checker span.checked {
	background-position: -76px -260px;
}
div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.checker span {
	background-position: 0px -260px;
	height: 19px;
	width: 19px;
}
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
	background-image: url(./imgs/sprite.png);
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}