<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="onloadJS">
    <script src="/webjars/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" ></script>
    <script src="../../static/api/commons.js" th:src="@{/api/commons.js}"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="/webjars/bootstrap-table/1.9.1-1/bootstrap-table.min.js" th:src="@{/webjars/bootstrap-table/1.9.1-1/bootstrap-table.min.js}"></script>
    <script src="/webjars/bootstrap-table/1.9.1-1/locale/bootstrap-table-zh-CN.js" th:src="@{/webjars/bootstrap-table/1.9.1-1/locale/bootstrap-table-zh-CN.js}"></script>
    <script src="/webjars/toastr/2.1.2/build/toastr.min.js"
            th:src="@{/webjars/toastr/2.1.2/build/toastr.min.js}"></script>
    <script src="/webjars/select2/4.0.3/js/select2.full.min.js" th:src="@{/webjars/select2/4.0.3/js/select2.full.min.js}"></script>
    <script src="/webjars/select2/4.0.3/js/i18n/zh-CN.js"
            th:src="@{/webjars/select2/4.0.3/js/i18n/zh-CN.js}"></script>
    <script src="/webjars/github-com-vuejs-vue/2.4.4/vue.js"
            th:src="@{/webjars/github-com-vuejs-vue/2.4.4/vue.js}"></script>
    <script src="../../static/plugins/jqgrid/grid.locale-cn.js" th:src="@{/plugins/jqgrid/grid.locale-cn.js}"></script>
    <script src="../../static/plugins/jqgrid/jquery.jqGrid.min.js" th:src="@{/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
    <script src="../../static/plugins/ztree/jquery.ztree.all.min.js" th:src="@{/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <!--<script src="/webjars/bootstrap-treeview/1.2.0/dist/bootstrap-treeview.min.js"-->
            <!--th:src="@{/webjars/bootstrap-treeview/1.2.0/dist/bootstrap-treeview.min.js}"></script>-->
    <script src="../../static/api/Ewin.js" th:src="@{/api/Ewin.js}"></script>
    <script src="../../static/plugins/treegrid/jquery.treegrid.min.js" th:src="@{/plugins/treegrid/jquery.treegrid.min.js}"></script>
    <script src="../../static/plugins/treegrid/jquery.treegrid.bootstrap3.js" th:src="@{/plugins/treegrid/jquery.treegrid.bootstrap3.js}"></script>
    <script src="../../static/plugins/treegrid/jquery.treegrid.extension.js" th:src="@{/plugins/treegrid/jquery.treegrid.extension.js}"></script>
    <script src="../../static/statics/plugins/treegrid/tree.table.js" th:src="@{/plugins/treegrid/tree.table.js}"></script>
</div>