<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link href="../../static/api/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/api/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../static/api/datatables/jquery.dataTables.css" th:href="@{/api/datatables/jquery.dataTables.css}">
    <link rel="stylesheet" href="../../static/api/datatables/dataTables.bootstrap.css" th:href="@{/api/datatables/dataTables.bootstrap.css}" />
    <link rel="stylesheet" href="../../static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" href="../../static/api/bootstrap/plugins/select2/css/select2.min.css" th:href="@{/api/bootstrap/plugins/select2/css/select2.min.css}">
    <script src="../../static/api/jquery/jquery-2.1.1.min.js" th:src="@{/api/jquery/jquery-2.1.1.min.js}"></script>
    <script src="../../static/api/datatables/jquery.dataTables.js" th:src="@{/api/datatables/jquery.dataTables.js}"></script>
    <script src="../../static/api/datatables/dataTables.bootstrap.js" th:src="@{/api/datatables/dataTables.bootstrap.js}"></script>
    <script src="../../static/h-ui/js/H-ui.min.js" th:src="@{/h-ui/js/H-ui.min.js}"></script>
    <script src="../../static/api/bootstrap/plugins/select2/js/select2.full.min.js" th:src="@{/api/bootstrap/plugins/select2/js/select2.full.min.js}"></script>
    <script src="../../static/api/commons.js" th:src="@{/api/commons.js}"></script>
    <script src="../../static/js/user/user.js" th:src="@{/js/user/user.js}"></script>
</head>
<body>
<div class="search-header">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="col-sm-4">
                <p class="form-control-static">用户账户</p>
            </div>
            <div class="col-sm-8">
                <input name="userName" id="userName" class="input-text radius" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="col-sm-4">
                <p class="form-control-static">用户昵称</p>
            </div>
            <div class="col-sm-8">
                <input name="nickName" id="nickName" class="input-text radius" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="col-sm-4">
                <p class="form-control-static">用户状态</p>
            </div>
            <div class="col-sm-8">
                <select id="status" name="status" class="form-control form-input">
                    <option value="-1">全部</option>
                    <option value="0">未启用</option>
                    <option value="1">启用</option>
                    <option value="2">锁定</option>
                    <option value="3">删除</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div id="table_region line-margin" style="margin-left: 15px;">
    <div class="condition line-margin">
        <button class="btn btn-primary radius" type="button"><span class="glyphicon glyphicon-import"></span>导入</button>
        <button class="btn btn-primary radius" type="button"><span class="glyphicon glyphicon-export"></span>导出</button>
        <button class="btn btn-primary radius" type="button" onclick="userObj.doSearch();"><span class="glyphicon glyphicon-search"></span>查询</button>
    </div>
    <div class="container-main">
        <h3 class="h-title">用户管理</h3>
        <table id="userTable"
               class="table table-border table-bordered table-striped table-hover radius">
            <thead class="thead-bg text-c">
            <tr>
                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <span>全选</span>
                        <input type="checkbox" id="userManagerTableCheck" class="group-checkable"/>
                    </label>
                </th>
                <th>用户昵称</th>
                <th>用户账户</th>
                <th>用户状态</th>
                <th>创建时间</th>
                <th>更新时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>